.hasCountdown {
	font-size: 16px;
	margin-left: 5px;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	background-color: #ccc;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}

.countdown_section {
	display: block;
	float: left;
	font-size: 100%;
	text-align: center;
	margin-right: 10px;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}
