
/*
* CORE TOOLBAR START
*/

#chat_tool_bar{width:950px; height:40px; background:url(../images/background.png) no-repeat bottom left; position:fixed; bottom:0px; left:50%; margin-left:-475px; z-index:1000; font-size:12px; color:#FFFFFF}
#toolbar_nav{position:absolute; bottom:0; left:0; z-index:10000;}
#toolbar_nav li{ position:relative; background: url(../images/tool_bar_nav_divider.gif) no-repeat right 8px; padding:15px 0 10px 0 ; display:block; float:left; font-size:12px; font-family:Arial; font-weight:bolder; color:#FFFFFF; text-align:center; cursor:pointer; }
#toolbar_nav li a{text-decoration:none; color:#FFFFFF;}
#toolbar_selling_products{width:280px;}
#toolbar_buying_products{width:140px;}
#toolbar_live_chat{width:490px;}
#toolbar_contacts{width:180px; background:none !important;}
#sell_popup{background:url(../images/buy_sell_popup.png) no-repeat top left; width:280px; height:275px; position:absolute; z-index:-1; top:100px; left:0px; padding: 10px; line-height:14px;}
#buy_popup{background:url(../images/buy_sell_popup.png) no-repeat top left; width:280px; height:275px; position:absolute; z-index:-1; top:100px; left:0px; padding: 10px;}
#buy_popup ul, #sell_popup ul{height:260px;width:260px !important; overflow:auto; color:#FFFFFF}
#buy_popup ul li, #sell_popup ul li{cursor:pointer;}
#sell_popup ul{height:260px;width:260px !important; overflow:auto; color:#FFFFFF}
#sell_popup ul li{cursor:pointer;}
.buy_sell_title{padding:0 0 10px 0; text-decoration:underline;}
#contacts_popup{background:url(../images/contacts_popup.png) no-repeat top left; width:180px; height:275px; position:absolute; z-index:-1; top:100px; left:770px;}
#live_chat_popup{
background:url(../images/live_chat_popup.png) no-repeat top left;
/*width:490px;*/
width:960px;
height:325px;
position:absolute;
z-index:-1;
top:100px;
left:0px;
/*left:280px;*/
padding:10px;
}

#chat_image
{
	background: url(../images/userchatimage.png);
	width: 91px;
	height: 21px;
	position: absolute;
	z-index: 190;
}

/*
* CORE TOOLBAR END
* ------------------------------------------------------------------------------------------------
*/
/*
* LIVE CHAT START
*/
/* CHAT FUNCTIONALITIES START */
#tool_bar_tabs{position:absolute;top:-33px; left:0; width:925px; font-size: 10px;overflow:hidden; /*border-right:solid 1px #525252; border-left:solid 1px #525252;*/}
#tool_bar_tabs ul{display:inline; width:auto;overflow:hidden;}

#tool_bar_tabs li{cursor:pointer; float:left; display:block;  height: 21px;background:#000000; opacity:.8; margin-left:2px; border:solid 1px #525252; font-size: 11px; position:relative}
span.tab_close_btn{position:absolute; top: 2px; right:2px; display:block; cursor:pointer; padding:2px;}
span.tab_title_hit{display:block; padding:7px 2px 6px 10px; margin:0 13px 0 0 ;}
.current_chat{ border-bottom:none !important; height:22px !important;}
.chat_container{display:none;}
/* CHAT FUNCTIONALITIES END */

/* BUYER SELLER VIEW START */
#live_chat_container{
position:relative;
width:950px;
height:300px;
z-index: 1;
}
.product_description{width:120px; margin:0  15px 10px 0; font-size:12px; float:right; font-family:verdana;}
.product_description p {padding:0 0 5px 0; line-height: 14px; color:#999999; font-size:11px; font-weight:bold;}
.product_image{text-align:center;}
.product_description_copy{height:95px; width:110px; color:#000000; padding:5px; margin-bottom:10px;}
.product_description img{margin:0 0 5px 0; border:solid 1px #cccccc; }
.product_number_bids, .time_left{font-size:12px !important; color: #FFFFFF; font-size:10px !important;}
.time_left{display:block; width:120px; overflow:hidden;}
.product_title{font-size:10px; line-height:12px !important; font-family:Arial; letter-spacing:0.025em; font-weight:bold;}
/* BUYER SELLER VIEW END */
/*
* LIVE CHAT END
* ------------------------------------------------------------------------------------------------
*/
/*
* CHAT AREA START
*/
.chat_area{float:left; margin:0 10px 0 0;}
.current_messages{padding: 5px; color:white; font-size:11px; line-height:14px; width:225px;height:250px;overflow:auto; border: solid 1px white;}

.user_area
{
	float:left;
}
.current_users
{
	color:#000000; 
	background: url(../images/userchatimage.png) no-repeat; 
	font-size:12px; 
	padding:3px; 
	height:255px; 
	width:89px;
	color: white;
	margin-right: 10px;
	text-transform: uppercase;
}

.current_users ul
{
	margin-top: 40px;
	cursor:pointer; 
	display:inline-block;
}

.current_users ul li
{
	margin-bottom: 4px;
	cursor:pointer; 
/*	display:inline-block;*/
	display:block;
}

/*
* CHAT AREA END
* ------------------------------------------------------------------------------------------------
*/

/*
* CONTACTS START
*/
#user_list{margin:12px 5px 5px 8px; height:255px; display:block; overflow:auto; width:170px;}
#user_list li{padding:0 0 5px 15px; display:block; cursor: pointer; color:#FFFFFF}
.user_online{background:url(../images/user_online.png) no-repeat 0 5px;}
.user_offline{background:url(../images/user_offline.png) no-repeat 0 5px;}
/*
* CONTACTS END
*/

/*
* FORM ELEMENTS START
*/
.message_type textarea{width:195px; height:43px; border: solid 1px white; background: black; color:white; float:left;}
.send_button{width:36px; height:28px; text-align:center; font-size:10px; float:right; border:solid 1px #FFFFFF; padding:15px 0 0 0; cursor:pointer; margin: 1px 0 0 0;}
.bid_amount, .sell_amount{
  background: transparent url(/images/dollar.gif) no-repeat 5px 7px;
	width: 53px;
	float: left;
	border: 0;
	font: 14px Arial, Helvetica, sans-serif;
	color: #ffffff;
	height: 17px;
	padding: 6px 0 0 15px; }
.sell_submit {
	float: right;
	margin: 6px 2px 0 0;
}

/*.bid_amount, .sell_amount{width:80px;margin:7px 0 5px 0}*/

/*
* FORM ELEMENTS END
*/

/* Countdown Clock Styling

*/

.bid_submit
{float: right;
	margin: 6px 2px 0 0;}
/*{
	background:transparent url(/images/dollar.gif) no-repeat 5px 7px; 
	width:53px;
	float:left;
	border:0;
	font:14px Arial, Helvetica, sans-serif;
	color:#ffffff;
	height: 24px;
	padding: 6px 0 0 15px; 
}*/

/*background:transparent url(images/dollar.gif) no-repeat 5px 7px; 
	width:53px;
	float:left;
	border:0;
	font:14px Arial, Helvetica, sans-serif;
	color:#ffffff;
	height: 24px;
	padding: 6px 0 0 15px; */

.bid_submit value
{
	border: solid 1px red;
}

#defaultCountdown
{
	font-size: 8px;
}

.color_picker_bidding{position:relative; height:36px; width:36px;}
.color_picker_bidding div div {background:url(../images/select.png) center; height:28px; width:28px; position:absolute; top:4px; left:4px;}
.countdown_amount{font-size:14px !important;}
.countdown_section{font-size: 10px !important; margin-right:7px !important; line-height:12px;}

	  #tab_left, #tab_right{
	  background:none repeat scroll 0 0 #000000;
	  border:1px solid #525252;
	  cursor:pointer;
	  display:block;
	  float:left;
	  font-size:18px;
	  height:21px;
	  margin-left:2px;
	  opacity:0.8;
	  position:relative; 
	  }