* {
	padding: 0;
	margin: 0;
}
body {
	padding: 10px;
	background-color: #1d1e1c;
	font-family: Arial, Helvetica, sans-serif;
}
.h3 {
	background: url(images/title-bg.png) no-repeat;
	font: bold 16px/38px Arial;
	color: #dc983a;
	width: 860px;
	height: 38px;
	padding: 0 10px;
}
.chat-container {
	width: 900px;
}
.main-window {
	padding: 4px;
	margin-top: 5px;
	border: 1px solid #ff8c00;
	float: left;
	background-color: black;
}
.chat-window {
	float: left;
	width: 670px;
	padding: 5px;
}
.chat-box {
	width: 655px;
	height: 425px;
	padding: 5px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.msg-box {
	width: 655px;
	height: 20px;
	padding: 5px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.tools {
	float: left;
	width: 180px;
	padding: 5px;
}
div.tools div {
	padding-bottom: 10px;
}
.tools h2 {
	font: bold 13px Arial;
	color: #ffd700;
	text-transform: uppercase;
}
.tools span {
	font: bold 12px Arial;
	color: #fff;
}