/* chat box */
.chat-container2 {
	visibility: hidden;
}
.chat-container {
	visibility: hidden;
}
.chat-showtitle {
	visibility: hidden;
}
.chat-currbidshow {
	visibility: hidden;
}
.chat-showdet {
	visibility: hidden;
}
.chat-boxhead {
	visibility: hidden;
}
.chat-maininput {
	visibility: hidden;
}
.chat-chatbox {
	display: none;
}
.chat-contact {
	visibility: hidden;
}
.chat-hellodiv {
	visibility: hidden;
}
a.bounce:link, a.bounce:active, a.bounce:visited {
	visibility: hidden;
}
a.bounce:hover {
	visibility: hidden;
}
.chat-close {
	visibility: hidden;
}
.chat-iframe {
	visibility: hidden;
}
.chat-selling {
	visibility: hidden;
}
.chat-bg {
	visibility: hidden;
}
#pagol {
	visibility: hidden;
}
.chat-ajaxslider {
	visibility: hidden;
}
.chat-waitmsg {
	visibility: hidden;
}
.chat-buyproducts {
	visibility: hidden;
}
.chat-knock {
	visibility: hidden;
}
.chat-knock1 {
	visibility: hidden;
}
.chat-showcont {
	visibility: hidden;
}
.chat-inst {
	visibility: hidden;
}
.chat-scmenu {
	visibility: hidden;
}
.chat-cwith {
	visibility: hidden;
}
.chat-signs {
	visibility: hidden;
}
.chat-minbox {
	visibility: hidden;
}
.chat-placebid {
	visibility: hidden;
}
.chat-changetxt {
	visibility: hidden;
}
.chat-bidbtn {
	visibility: hidden;
}
.chat-bidinput {
	visibility: hidden;
}
.chat-minpos {
	visibility: hidden;
}
.chat-minknock {
	visibility: hidden;
}
.chat-timeshow {
	visibility: hidden;
}
.chat-chat2 {
	visibility: hidden;
}
.chat-currbid {
	visibility: hidden;
}
.chat-mytime {
	visibility: hidden;
}
.chat-viewajax {
	visibility: hidden;
}
.response {
	visibility: hidden;
}
#colorset {
	font: 10px Arial, helvetica, sans-serif;
}
.green {
	background-color: #8dc240;
	color: #8dc240;
}
.red {
	background-color: #cb2026;
	color: #cb2026;
}
.white {
	background-color: #ffffff;
	color: #ffffff;
}
.blue {
	background-color: #95e6ff;
	color: #95e6ff;
}
.invcontacts {
	background-color: #999999;
	color: #FFFFCC;
}