/*Plugin Name: WP-Digg Style PaginatorPlugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/Author: Victor De la RochaAuthor URI: http://www.mis-algoritmos.com*/
div.pagination {
	padding: 3px;
	margin: 3px;
	text-align: center;
}
div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #2C2C2C;
	text-decoration: none;
	color: #fff;
	background: #2C2C2C url(images/image1.gif);
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #AAD83E;
	color: #FFF;
	background: #AAD83E url(image2.gif);
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #AAD83E;
	font-weight: bold;
	background: #AAD83E url(images/image2.gif);
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}