* {
	padding: 0;
	margin: 0;
}
body {
	background: #d8e2ec url(images/body-bg-tile.gif) repeat-x top ;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font: bold 12px Arial;
	color: #307ea0;
	padding: 10px;
}
img {
	border: none;
}
a {
	text-decoration: none;
}
a, a:link, a:visited, a:active {
	color: #307ea0;
	text-decoration: underline;
	font-weight: 700;
}
#wrapper {
	background: url(images/body-bg-tile.gif) repeat-x top #d8e2ec;
	width: 972px;
	position: relative;
	left: 50%;
	margin-left: -486px;
	padding: 5px;
}
#top-menu {
	color: #ffffff;
	font: 10px Arial;
	float: right;
	height: 30px;
	display: block;
}
#top-menu a, #top-menu a:link, #top-menu a:visited, #top-menu a:active {
	color: #ffffff;
}
#top-menu a:hover {
	color: #ff8c00;
}
#header {
	width: 100%;
	clear: both;
	height: 120px;
	background: url(images/header-bg.png) no-repeat left top;
}

#main-column {
	width: 100%;
	float: left;
	position: relative;
}
#left-column {
	width: 175px;
	margin-right: 10px;
	float: left;
}
#center-column {
	float: left;
}
.single {
	width: 950x;
	color: #307EA0;
}

.single a{
  font-style: underline;
}

.double {
	width: 900px;
}
#right-column {
	float: right;
	width: 210px;
	text-align: center;
}

#chat_tool_bar{
  
 display: none; 
  
}

#footer {
	background: url(/images/title-bg.png);
	color: #000;
	padding: 10px;
	margin: 14px 0;
	float: left;
	width: 952px;
	font: 10px Arial;
	font-weight:
}
#footer a, #footer a:link, #footer a:visited, #footer a:active {
	color: #000;
}
#footer a:hover {
	color: #307ea0;
}
.clear {
	clear: both;
	height: 10px;
	width: 100%;
}
.h3 {
	background: url(images/title-bg.png) no-repeat;
	font: bold 16px/38px Arial;
	height: 38px;
	padding-left: 22px;
}
#category {
	float: left;
	padding: 3px 35px 10px 10px;
}
#category ul {
	list-style: none;
}
#category li {
	background: url(images/category-bullet.gif) no-repeat;
	font: bold 12px/20px Arial;
	color: #4ba7c0;
	padding-left: 10px;
}
.logo {
	float: left;
	padding: 10px 0 0 15px;
}
/* search starts here */
#search {
	background: url(images/search-bg.gif) no-repeat;
	width: 472px;
	height: 41px;
	float: right;
	padding-left: 102px;
	padding-top: 10px;
	margin: 7px 7px 0 0;
}
.input-keyword {
	background: transparent url(images/input-keyword-bg.gif) no-repeat;
	width: 194px;
	height: 20px;
	border: none;
	padding: 4px;
	margin-right: 6px;
	font: 12px/20px Arial;
	color: #7c7c7c;
}

/* top navigations */
#nav2 {
	clear: both;
	padding-top: 17px;
	width: 670px;
	display:inline;
}
#nav2 ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 670px;
}
#nav2 li {
	float: left;
	margin: 0;
	height: 24px;
	font: bold 12px Arial;
	margin-right: 3px;
}
#nav2 a {
	background: url(images/blue-left.png) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#nav2 a span {
	background: url(images/blue-right.png) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;
}
#nav2 a:hover {
	background: url(images/blue-left-hover.png) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#nav2 a:hover span {
	background: url(images/blue-right-hover.png) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;
}
#nav2 a, #nav2 a span {
	display: block;
	float: left;
}
#nav2 a.lastauc {
	background: url(images/lauc-left.gif) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#nav2 a.lastauc span {
	background: url(images/lauc-right.gif) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;
}
#nav2 a.lastauc:hover {
	background: url(images/lauc-left-hover.gif) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#nav2 a.lastauc:hover span {
	background: url(images/lauc-right-hover.gif) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;
}
#nav2 a.lastauc, #nav2 a.lastauc span {
	display: block;
	float: left;
}
/* Hide from IE5-Mac \*/
#nav2 a, #nav2 a span {
}
/* End hide */
/* end top navigations */
/* navigations */
#nav {
	clear: both;
	padding-top: 17px;
	display:inline
}
#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav li {
	float: left;
	margin: 0;
	height: 24px;
	font: bold 12px Arial;
	margin-right: 3px;
}
#nav a {
	background: url(images/blue-left.png) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#nav a span {
	background: url(images/blue-right.png) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;
}
#nav a:hover {
	background: url(images/blue-left-hover.png) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#nav a:hover span {
	background: url(images/blue-right-hover.png) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;
}
#nav a, #nav a span {
	display: block;
	float: left;
}
#nav a.lastauc {
	background: url(images/lauc-left.gif) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#nav a.lastauc span {
	background: url(images/lauc-right.gif) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;
}
#nav a.lastauc:hover {
	background: url(images/lauc-left-hover.gif) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#nav a.lastauc:hover span {
	background: url(images/lauc-right-hover.gif) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;
}
#nav a.lastauc, #nav a.lastauc span {
	display: block;
	float: left;
}
/* Hide from IE5-Mac \*/
#nav a, #nav a span {
	float: left;
}
/* End hide */
#login {
	float: left;
	font: bold 12px Arial;
	margin-left: 165px;
}
#login a {
	background: url(images/blue-left.png) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#login a span {
	background: url(images/blue-right.png) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;}
#login a:hover {
	background: url(images/blue-left-hover.png) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#login a:hover span {
	background: url(images/blue-right-hover.png) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;}
#join-auc {
	float: right;
	font: bold 12px Arial;
	margin-right: 10px;
}
#join-auc a {
	background: url(images/blue-left.png) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#join-auc a span {
	background: url(images/blue-right.png) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;
}
#join-auc a:hover {
	background: url(images/blue-left-hover.png) no-repeat left top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
#join-auc a:hover span {
	background: url(images/blue-right-hover.png) no-repeat right top;
	color: #ffffff;
	padding: 5px 15px;
}
/* web 2.0 windows */
#login-win {
	background: url(images/pop-login-bg.gif) no-repeat;
	width: 445px;
	height: 337px;
	position: absolute;
	z-index: 100;
	top: 50%;
	margin-top: -164px;
	left: 50%;
	margin-left: -229px;
	display: none;
}
.table_header{
  
  height: 26px; background: url("/images/title-bg.png") repeat scroll 0% 0% transparent; font-weight: bold; color: rgb(0, 0, 0); color: #000;
  
}
  

.window-title {
	font: bold 18px Arial;
	padding: 30px 0 0 30px;
	float: left;
}
.window-item {
	font: bold 14px Arial;
	padding-bottom: 5px;
	display: block;
}
.win-small {
	font: 12px Arial;
}
span.button {
	/*background: url(images/win-submit-bg.gif) repeat-x;
	border: 1px solid #d27d00;
*/
}
span.button input {
	background: none;
	height: 28px;
	border: none;
	padding: 2px 4px 4px;
	color: #ffffff;
	font: bold 13px/28px Arial;
}
.win-input {
	background: transparent url(images/win-input-bg.png) no-repeat;
	width: 269px;
	height: 22px;
	border: none;
	padding: 4px;
	margin-right: 6px;
	font: 12px/20px Arial;
	color: #7c7c7c;
}
.close {
	background: url(images/win-close.gif) no-repeat 3px 8px;
	float: right;
	width: 20px;
	height: 10px;
	padding: 13px 25px 0 0;
}
a.close:hover {
	background: url(images/win-close.gif) no-repeat 3px -20px;
	float: right;
	width: 20px;
	height: 10px;
	padding: 13px 25px 0 0;
}
/* new user regsitration progress */
.progress-bar {
	background: url(images/progress-newuser.gif) no-repeat top;
	width: 300px;
	height: 30px;
	margin-top: 3px;
}
/* user forms */
#main-column .user-register {
	border: 1px solid #000000;
	/*float: left;
*/
	width: 100%;
	padding: 10px 0;
}
#main-column .user-register p {
	font: 12px/18px Arial;
	color: #307ea0;
	padding: 10px;
}
#main-column form div {
	padding: 5px;
}
#main-column form label {
	clear: both;
	width: 200px;
	float: left;
	font: bold 12px/18px Arial;
	color: #307ea0;
	margin-left: 30px;
}
.help-text {
	font: 10px Arial;
	color: #307ea0;
	padding-left: 10px;
}
.inner-help {
	position: absolute;
	left: 740px;
	top: 220px;
	border: 1px solid #666666;
	width: 200px;
	padding: 10px;
	color: #307ea0;
}
.input {
	background: #ffffff url(images/input-keyword-bg.gif) no-repeat left top;
	height: 16px;
	border: none;
	padding: 4px 2px 0 4px;
	font: 11px Arial;
	color: #333333;
}
.nav-page {
	
	float: right;
	border: 1px solid #000;
	font: 12px Arial;
	background: url(images/btn-submitp1.gif);
	height: 20px;
	width: 99px;
}
.nav-prev {
	
	float: right;
	border: 1px solid #000;
	font: 12px Arial;
	background: url(images/cancel.jpg);
	height: 20px;
	width: 68px;
}

.nav-page a, .nav-page a:link, .nav-page a:visited, .nav-page a:active {
	color: #00bfff;
}
.nav-page a:hover {
	color: #ffffff;
}
/* featured items */
#featured-item {
	float: left;
	padding: 5px;
	margin: 5px;
}
#featured-item img {
	border: 4px solid #acacac;
	margin: 4px;
}
#featured-item h2 {
	font: bold 13px Arial;
	padding: 2px 0 2px 4px;
	color: #ffd700;
}
#featured-item p {
	font: 11px/16px Arial;
	padding: 2px 0 2px 4px;
	color: #ffffff;
}
/* breadcrumb */
.breadcrumb {
	float: left;
	padding: 5px 0 0 5px;
	width: 800px;
	height: 28px;
}
.breadcrumb li {
	display: inline;
	font-size: 10px;
	padding-right: 2px;
	color: #57ae6c;
}
ul.breadcrumb li a {
	background: url(images/breadcrumb-bullet.gif) 100% 60% no-repeat;
	padding-right: 10px;
	color: #038ad7;
}
/* center column elements */
#center-column form.div {
	clear: both;
	width: 100%;
}
#center-column form div div.label {
	float: left;
	width: 185px;
	font: bold 12px Arial;
	color: #fefefe;
	padding-left: 15px;
}
#center-column form div div.value {
	float: left;
}
/* left column elements */
#left-column img {
	padding-bottom: 5px;
}
/* right column elements */
#right-column .item-seller {
	border: 1px solid #3e3f3d;
	padding: 5px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#right-column .item-message {
	border: 1px solid #3e3f3d;
	padding: 5px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#right-column  .item-seller .heading {
	background: url(images/right-col-heading.gif) no-repeat;
	width: 230px;
	height: 30px;
	padding: 8px 0 5px 10px;
	font: bold 14px Arial;
	color: #66CCCC;
	text-align: left;
}
#right-column .item-seller .user-photo {
	padding: 10px 0 0 10px;
}
/* sliding menu */
.slide-menu {
	float: left;
	list-style-type: none;
}
ul.slide-menu {
	float: left;
}
ul.slide-menu li {
	margin: 0 0 5px;
}
ul.slide-menu li a {
	border: 1px solid #000;
	width: 152px;
	padding-left: 8px;
	line-height: 22px;
	background: url(images/slidemenu-normal-bg.gif) repeat-x;
	display: block;
	font-size: 12px;
	color: #1d1d1d;
	font-weight: bold;
}
ul.slide-menu li ul {
	margin: 5px 0 5px 12px;
	list-style-type: none;
}
ul.slide-menu li ul li {
	margin: 5px 0;
}
ul.slide-menu li ul li a {
	border: none;
	width: 130px;
	padding-left: 15px;
	background: url(images/slidemenu-sub-bullet.gif) no-repeat 0 8px;
	display: block;
	font-size: 12px;
	color: #307ea0;
	text-decoration: underline;
	font-weight: 700;
	font-weight: normal;
}
ul.slide-menu li ul li a:link, ul.slide-menu li ul li a:active, ul.slide-menu li ul li a:visited {
	color: #307ea0;
	text-decoration: underline;
	font-weight: 700;
  
}
ul.slide-menu li ul li a:hover {
	color: #307ea0;
	text-decoration: underline;
	font-weight: 700;
}
/* chart */
#table-row {
	width: 950px;
	float: left;
	font: 12px Arial;
}
#table-row div.big {
	width: 300px;
	float: left;
	padding: 5px 0 2px 3px;
}
div.td-clear {
	clear: both;
	margin: 0;
	padding-top: 3px;
	width: auto;
	border-bottom: 1px solid #666666;
}
#table-row div.med {
	width: 100px;
	float: left;
	padding: 5px 0 2px 3px;
}
#table-row div.med1 {
	width: 140px;
	float: left;
	padding: 5px 0 2px 3px;
}
#table-row div.med1 a{
 text-decoration: underline; 
}

#table-row{
  
  
}

#table-row div.small {
	width: 50px;
	float: left;
	padding: 5px 0 2px 3px;
}
.m-archive {
	background: url(images/msg-inbox.gif) no-repeat 0 top;
	padding-left: 18px;
	margin-right: 10px;
}
.m-delete {
	background: url(images/msg-inbox.gif) no-repeat 0 -22px;
	padding-left: 18px;
	margin-right: 10px;
}
.m-reply {
	background: url(images/msg-inbox.gif) no-repeat 0 -44px;
	padding-left: 18px;
	margin-right: 10px;
}
.m-accept {
	/*background: url(images/msg-inbox.gif) no-repeat 0 -64px;
*/
	padding-left: 18px;
	margin-right: 10px;
}
.startend-time {
	display: block;
	float: left;
	width: 90px;
	color: #307ea0;
	font: 11px Arial, Helvetica;
}
.startend-value {
	display: block;
	float: left;
	text-align: left;
	width: 100px;
	color: #fffdee;
	font: 12px Arial, Helvetica;
}
.myprofile-text {
	font: 11px Arial, Helvetica;
	color: #307ea0;
}
/* tooltip */
a.tool-text, a.tool-text:link, a.tool-text:active, a.tool-text:visited {
	display: block;
	background: url(images/btn-tooptip.gif) no-repeat 0 0;
	width: 25px;
	height: 20px;
	float: left;
}
a.tool-text:hover {
	display: block;
	background: url(images/btn-tooptip.gif) no-repeat 0 -20px;
	width: 25px;
	height: 20px;
	float: left;
}
.tool-text img {
	border: none;
}
a.tool-text-1, a.tool-text-1:link, a.tool-text-1:active, a.tool-text-1:visited {
	display: block;
	background: url(images/btn-tooptip1.gif) no-repeat 0 0;
	width: 25px;
	height: 20px;
	float: left;
}
a.tool-text-1:hover {
	display: block;
	background: url(images/btn-tooptip1.gif) no-repeat 0 -20px;
	width: 25px;
	height: 20px;
	float: left;
}
.tool-text-1 img {
	border: none;
}
.popup-tool {
	width: 200px;
	height: 200px;
	padding: 10px;
	position: absolute;
	top: 240px;
	left: 50%;
	margin-left: -100px;
	background-color: #d8e2ec;
	overflow-x: hidden;
	overflow-y: auto;
	font: 11px Arial, Helvetica, sans-serif;
	color: #307ea0;
	border: 4px solid #307ea0;
}
/* addition by dhiman */
.popup-tool-new {
	width: 200px;
	height: 200px;
	padding: 10px;
	position: absolute;
	/*top: 800px;
*/
	/*left: 50%;
*/
	/*left: 380px;
*/
	margin-left: -100px;
	background-color: #d8e2ec;
	overflow-x: hidden;
	overflow-y: auto;
	font: 11px Arial, Helvetica, sans-serif;
	color: #307ea0;
	border: 4px solid #307ea0;
}
.preview-list {
	font-size: 10pt;
	padding-top: 3px;
	display: block;
	font-weight: bold;
}
.myping {
	color: #33FF00;
	font-weight: bold;
}
.addthis_button{
 float: right; 
 position: relative;
 top: -2px;
}
.product_title{
 font-size: 1.5em; 
}
#traditional_buy{
padding: 5px; color: #000; font: bold 13px Arial; border: 1px solid rgb(153, 208, 237); background: url("/images/rt-col-h1.gif") repeat-x scroll center top rgb(153, 208, 237); color: rgb(51, 51, 51);
}
/* chat box */
.chat-container2 {
	position: fixed;
	width: 150px;
	overflow: hidden;
	z-index: 111;
	display: block;
	bottom: 5px;
	right: 1px;
}
.chat-container {
	font: bold 10px Arial, Helvetica, Sans-serif;
	width: 95px;
	color: #ffffff;
	margin-left: 5px;
	float: left;
}
.chat-showtitle {
	color: #979696;
	text-transform: uppercase;
}
.chat-currbidshow {
	height: 50px;
	color: #ffffff;
	font: normal 14px Arial, Helvetica, sans-serif;
	width: 95px;
	overflow: hidden;
}
.chat-showdet {
	font: normal 14px Arial, Helvetica, sans-serif;
}
.chat-boxhead {
	width: 395px;
	height: 25px;
}
.chat-maininput {
	border: 1px solid #6F6F6F;
	width: 134px;
	height: 26px;
	background-color: #060606;
	color: #ffffff;
	font: 12px Arial, Helvetica, sans-serif;
	padding: 6px 2px 0 3px;
	float: left;
}
.chat-chatbox {
	display: none;
	width: 395px;
	height: 411px;
	z-index: 100;
	bottom: 40px;
	background: url(images/chatwin-bg.png) no-repeat 0 0;
}
.chat-cuser {
	width: 87px;
	float: left;
	background: url(images/cuser.gif) no-repeat 0 0;
	height: 275px;
	padding-top: 17px;
}
.chat-contact {
	background: url(images/contact-ico.png) no-repeat 0 -2px;
	font: 10px Arial, Helvetica, sans-serif;
	padding-left: 21px;
	color: #ffffff;
	text-transform: uppercase;
}
.chat-hellodiv {
	width: 140px;
	height: 200px;
	background: transparent url(images/user-bg.png) 0 0;
	display: none;
	z-index: 101;
	overflow: hidden;
	margin-bottom: 5px;
}
.chat-mc_items {
	width: 395px;
	height: 200px;
	background: transparent url(images/chatwin-bg.png) 0 0;
	display: none;
	z-index: 101;
	overflow: hidden;
	margin-bottom: 5px;
}
#mc_listitems {
	width: 265px;
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: scroll;
}
a.bounce:link, a.bounce:active, a.bounce:visited {
	font: 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #ebac05;
}
a.bounce:hover {
	text-decoration: none;
	color: #f0ffff;
}
.chat-close {
	width: 130px;
	overflow: hidden;
	float: right;
}
.chat-iframe {
	width: 140px;
	height: 180px;
	overflow: hidden;
	overflow-y: auto;
	background-color: transparent;
}
.chat-selling {
	float: left;
	margin-left: 20px;
	/*margin-top: 13px;
*/
	height: 40px;
	font: 10px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
}
.chat-bg {
	position: fixed;
	bottom: 0;
	left: 50%;
	z-index: 100;
	margin-left: -475px;
	width: 950px;
	height: 37px;
	background: url(images/chat-bg.png) no-repeat 0 0;
}
.chat-ajaxslider {
	font: 10px Arial, Helvetica, sans-serif;
	margin-left: 5px;
	display: block;
	float: left;
}
.chat-waitmsg {
	font: 10px Arial, Helvetica, sans-serif;
	margin-left: 5px;
	display: block;
	float: left;
}
.chat-buyproducts {
	float: left;
	margin-left: 10px;
	/*margin-top: 13px;
*/
	height: 40px;
	font: 10px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
}
.chat-knock {
	font: 10px Arial, Helvetica, sans-serif;
	margin-left: 25px;
	margin-right: 2px;
	display: block;
	float: right;
	margin-top: 2px;
}
.chat-knock1 {
	height: 8px;
	font-size: 9px;
	padding: 1px;
	display: block;
	padding-left: 65px;
	text-transform: uppercase;
	color: #ffffff;
}
.chat-showcont {
	margin-left: 20px;
	margin-top: 3px;
	padding-left: 15px;
	float: right;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.chat-inst {
	font: 12px/18px Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #6F6F6F;
	width: 274px;
	padding: 3px;
}
.chat-scmenu {
	overflow: hidden;
	margin-left: 10px;
}
.chat-cwith {
	font: bold 12px/22px Arial, helvetica, sans-serif;
	color: #ff960d;
	margin-left: 5px;
	float: left;
}
.chat-signs {
	float: right;
	font-size: 10px;
	margin: 5px 5px 0;
}
.chat-minbox {
	font-size: 10px;
	background: #0f100f url(images/chatmin-bg.png) repeat-x 0 0;
	height: 19px;
	border: 1px solid #343534;
	margin-top: 2px;
	padding-top: 6px;
}
.chat-placebid {
	background: transparent url(images/dollar.gif) no-repeat 5px 7px;
	width: 53px;
	float: left;
	border: 0;
	font: 14px Arial, Helvetica, sans-serif;
	color: #ffffff;
	height: 24px;
	padding: 6px 0 0 15px;
}
.chat-changetxt {
	height: 13px;
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #3781cc;
}
.chat-bidbtn {
	float: right;
	margin: 6px 2px 0 0;
}
.chat-bidinput {
	border: 1px solid #3a3939;
	width: 85px;
	float: left;
}
.chat-minpos {
	height: 12px;
	padding-left: 5px;
}
.chat-minknock {
	height: 7px;
	font-size: 9px;
	padding: 1px;
	color: #99FFFF;
	height: 12px;
}
.chat-timeshow {
	width: 95px;
	border: 0;
	height: 75px;
}
.chat-chat2 {
	float: left;
	/*margin-left: 4px;
*/
	width: 190px;
}
.chat-currbid {
	width: 95px;
	border: 0;
	height: 18px;
}
.chat-mytime {
	width: 90px;
	height: 75px;
	font: normal 10px/16px Arial, Helvetica, sans-serif;
}
.chat-viewajax {
	overflow: auto;
	overflow-x: hidden;
	width: 190px;
	height: 300px;
	scrollbar-base-color: #1E1E1E;
	scrollbar-arrow-color: #CECECE;
	scrollbar-dlight-color: #606060;
	scrollbar-track-color: #000000;
	color: #FFF;
	border: 1px solid #6F6F6F;
	font-size: 10px;
}
.response {
	font: 14px Arial, Helvetica, sans-serif;
	color: orange;
	width: 500px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -250px;
	height: 200px;
	padding-top: 50px;
}
#colorset {
	font: 10px Arial, helvetica, sans-serif;
}
.green {
	background-color: #8dc240;
	color: #8dc240;
}
.red {
	background-color: #cb2026;
	color: #cb2026;
}
.white {
	background-color: #ffffff;
	color: #ffffff;
}
.blue {
	background-color: #95e6ff;
	color: #95e6ff;
}
.invcontacts {
	background-color: #999999;
	color: #FFFFCC;
}
.row1 {
	background: url(images/rowbg1.gif) repeat-x 0 0;
	line-height: 40px;
}
/******************************about us page******************************/
.mainBox {
	width: 275px;
	height: 91px;
	float: left;
	padding: 0px;
	border: 1px solid #333;
	cursor: pointer;
	margin: 5px 0 5px 25px;
}
.mainBox:hover {
	border-color: #FFF;
}
.mainBox img {
	float: left;
	margin: 14px;
	position: absolute;
}
.mainBox p.boxHead {
	font-size: 11px;
	margin-top: 25px;
	position: absolute;
}
.about-up-arrow {
	position: absolute;
	bottom: -10px;
	right: -8px;
}
.about-down-arrow {
	padding-left: 238px;
	padding-top: 62px;
}
.dropBox {
	display: none;
	width: 275px;
	padding: 0px;
	border: 1px solid #555;
	background-color: #1d1e1c;
	position: relative;
	left: -1px;
	top: -1px;
	z-index: 2;
}
.dropBox img {
	float: left;
	margin-right: 12px;
}
.dropBox p {
	font-size: 11px;
	margin-top: 25px;
}
p.boxHead {
	margin-left: 105px;
}
p.boxBody {
	clear: both;
	margin-top: 90px;
	padding: 0 15px 10px 15px;
}
.user_offline {
	display: none;
}
.user_online {
	cursor: pointer;
}
.mc_highlight {
	background-color: orange;
}
#msg_sent {
	position: absolute;
	top: 0;
	margin: 0 auto 10px auto;
	width: 300px;
	padding: 10px;
	text-align: center;
	color: white;
	background-color: black;
	border: 1px solid #cccccc;
	height: 50px;
	display: none;
}
#search-filter form label{
 width: auto;
}
#search-filter form {
 text-align: left;
}
ul.breadcrumb{
 display: none; 
}