* {
	padding: 0;
	margin: 0;
}

body {
	background: #000000 url(images/bodytile.gif) repeat-x top;
	background-color: #000000;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

#header {
	background: url(images/headerbg.jpg) no-repeat;
	width: 790px;
	height: 440px;
} 

.optin {
	padding: 80px 45px 0 8px;
	width: 230px;
	float: right;
}

#footer {
	background: url(images/footerbg.gif) no-repeat;
	width: 790px;
	height: 120px;
	text-align: center;
	font: 11px/16px Arial, Helevetica;
	color: navy;
}

#footer a, #footer a,:link, #footer a:visited, #footer a:active {
	color: #333333;
}

#footer a:hover {
	color: #4682b4;
}

.content {
	background:url(images/contenttile.gif) repeat-y;
	padding-left: 40px;
}

.welcome {
	font: 13px/20px Arial, Helvetica;
	color: #333333;
}

h2 {
	font: 18px Arial, Helevetica;
	color: ActiveCaption;
	padding-bottom: 10px;
	padding-top: 10px;
}

h2 a, h2 a:link, h2 a:active, h2 a:visited, h2 a:hover {
	color: navy;
}

p.desc {
	font: 13px/20px Arial, Helevetica;
	color: #333333;
}

p.desc a, p.desc a:link, p.desc a:active, p.desc a:visited {
	font-weight: bold;
	color: #265b76;
}

p.desc a:hover {
	font-weight: bold;
	color: #333333;
}

.topmenu {
	font: 12px Arial, Helvetica;
	color: #004973; 
	height: 30px;
	text-align: center;
	padding-bottom: 22px;
}

.topmenu a, .topmenu a:link, .topmenu a:visited, .topmenu a:active {
	color: #004973; 
}

.topmenu a:hover {
	color: #647482;
}

.detail {
	font: bold 12px/16px Tahoma, Helvetica;
	color: #000;
}

.bar {
	background: url(images/bar-rec.gif) no-repeat center;
	height: 51px;
}

ul.bodytext  {
	font: 13px/18px Arial, Helevetica;
	color: #25435c; 
}

.bodyt {
	font: 12px Arial;
	color: #333;
}